h1 {
  color: rgba(0, 0, 0, 0.958);
  text-align: center;
}

img {
  height: 325px;
  length: 325px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 30px;
  border-style: double;
  border-color: rgb(77, 77, 71);
}

h2 {
  text-align: center;
}

.intro {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-size-adjust: 24px;
  text-align: justify;
  background-color: rgb(51, 121, 118);
  padding: 10px;
}

.section1 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-size-adjust: 18px;
  text-align: justify;
  background-color: rgb(220, 144, 201);
  padding: 8px;
  color: rgb(5, 11, 65);
}

.section2 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-size-adjust: 18px;
  text-align: justify;
  background-color: rgb(177, 233, 88);
  padding: 8px;
  color: rgb(5, 11, 65);
}

.section3 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-size-adjust: 18px;
  text-align: center;
  background-color: rgb(241, 217, 95);
  padding: 8px;
  color: rgb(5, 11, 65);
}